################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IntegrationTests/obj/
/DisneyStreamingPlus/obj/
/DisneyHomePageApi/obj/
/.vs/
/IntegrationTests/obj/
/IntegrationTests/bin/
/DisneyStreamingPlus/obj/
/DisneyStreamingPlus/bin/
/DisneyHomePageApi/obj/
/DisneyHomePageApi/bin/
/.vs/DisneyStreamingPlus/v17/.suo
/IntegrationTests/obj/x86/Release/build.force
/DisneyStreamingPlus/obj/
/DisneyStreamingPlus/bin/
/DisneyHomePageApi/obj/
/DisneyHomePageApi/bin/
/.gitignore.bak
